######################
# Intellij
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig

######################
# Logs
######################
*.log

######################
# Maven
######################
/target/